@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var DayOfWeek = DateTime.Now.DayOfWeek;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy</p>



<p>@currentYear</p>

@if (DayOfWeek == DayOfWeek.Sunday || DayOfWeek == DayOfWeek.Saturday)
{
    <p> It`s weekend finally</p>
}
else{
    <p>A Normal day puuuuu</p>
}

